name: testing_app
description: Testing examples (unit, widget, and integration)

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.1

dev_dependencies:
  integration_test: ^0.9.0
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
